<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--
    <add name="MassiveSpike"
         connectionString="Data Source=MassiveSpikeDb.sdf;"
         providerName="System.Data.SqlServerCe.4.0"
    />  
    -->

    
    <add name="MassiveSpike"
         connectionString="Data Source=(local);Initial Catalog=MassiveSpike; Integrated Security=True;Trusted_Connection=true" 
         providerName = "System.Data.SqlClient"
    />
    

  </connectionStrings>
</configuration>


